n8n/workflows/alert-escalation.json
{
  "name": "Alert Escalation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert-escalation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4e5f6a7-0001-4001-8001-ddeeff000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "nexus-alert-escalation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-deal-id",
              "name": "deal_id",
              "value": "={{ $json.deal_id }}",
              "type": "string"
            },
            {
              "id": "field-company",
              "name": "company",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "field-contact-name",
              "name": "contact_name",
              "value": "={{ $json.contact_name }}",
              "type": "string"
            },
            {
              "id": "field-escalation-level",
              "name": "escalation_level",
              "value": "={{ $json.escalation_level || 'standard' }}",
              "type": "string"
            },
            {
              "id": "field-reason",
              "name": "reason",
              "value": "={{ $json.reason }}",
              "type": "string"
            },
            {
              "id": "field-assigned-to",
              "name": "assigned_to",
              "value": "={{ $json.assigned_to || 'Unassigned' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-0002-4002-8002-ddeeff000002",
      "name": "Extract Alert Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ acknowledged: true, deal_id: $node['Extract Alert Fields'].json['deal_id'], company: $node['Extract Alert Fields'].json['company'], escalation_level: $node['Extract Alert Fields'].json['escalation_level'], escalation_review_in: '4 hours' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d4e5f6a7-0005-4005-8005-ddeeff000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Extract Alert Fields", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Alert Fields": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}