n8n/workflows/lead-intake.json
{
  "name": "Lead Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4001-8001-aabbcc000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "nexus-lead-intake"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nexus-api:8000/api/agents/lead/classify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company\": \"{{$json.company}}\",\n  \"contact_name\": \"{{$json.contact_name}}\",\n  \"contact_email\": \"{{$json.contact_email || ''}}\",\n  \"source\": \"{{$json.source || 'n8n_webhook'}}\",\n  \"message\": \"{{$json.message}}\"\n}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0003-4003-8003-aabbcc000003",
      "name": "Classify Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-hot",
              "leftValue": "={{ $json.stage }}",
              "rightValue": "hot_lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-escalated",
              "leftValue": "={{ $json.stage }}",
              "rightValue": "escalated",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-4004-8004-aabbcc000004",
      "name": "Hot Lead or Escalated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($node['Classify Lead'].json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0007-4007-8007-aabbcc000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Classify Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Lead": {
      "main": [
        [
          {
            "node": "Hot Lead or Escalated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Lead or Escalated?": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}