n8n/workflows/pipeline-digest.json
{
  "name": "Pipeline Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0001-4001-8001-ccddee000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://nexus-api:8000/api/agents/pipeline/report",
        "options": {
          "timeout": 90000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c3d4e5f6-0002-4002-8002-ccddee000002",
      "name": "Get Pipeline Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-conversion",
              "name": "conversion_display",
              "value": "={{ (($json.kpis.conversion_rate ?? 0) * 100).toFixed(1) }}%",
              "type": "string"
            },
            {
              "id": "field-deal-age",
              "name": "deal_age_display",
              "value": "={{ ($json.kpis.avg_deal_age ?? 0).toFixed(1) }} days",
              "type": "string"
            },
            {
              "id": "field-pipeline-value",
              "name": "pipeline_display",
              "value": "=${{ ($json.kpis.total_pipeline_value ?? 0).toLocaleString() }}",
              "type": "string"
            },
            {
              "id": "field-bottleneck-count",
              "name": "bottleneck_count",
              "value": "={{ $json.bottlenecks.length }}",
              "type": "number"
            },
            {
              "id": "field-digest",
              "name": "digest",
              "value": "={{ $json.digest }}",
              "type": "string"
            },
            {
              "id": "field-bottlenecks",
              "name": "bottlenecks",
              "value": "={{ $json.bottlenecks }}",
              "type": "array"
            },
            {
              "id": "field-run-id",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4003-8003-ccddee000003",
      "name": "Format KPI Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "sendTo": "sales@projecx.io",
        "subject": "=📊 Nexus Weekly Pipeline Digest — {{ $now.format('MMMM D, YYYY') }}",
        "emailType": "html",
        "message": "=<h2>Weekly Pipeline Report — {{ $now.format('MMMM D, YYYY') }}</h2>\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;\">\n  <tr style=\"background:#f0f0f0;\"><th>KPI</th><th>Value</th></tr>\n  <tr><td>Conversion Rate</td><td>{{ $node['Format KPI Fields'].json['conversion_display'] }}</td></tr>\n  <tr><td>Avg Deal Age</td><td>{{ $node['Format KPI Fields'].json['deal_age_display'] }}</td></tr>\n  <tr><td>Total Pipeline</td><td>{{ $node['Format KPI Fields'].json['pipeline_display'] }}</td></tr>\n  <tr><td>Bottlenecks</td><td>{{ $node['Format KPI Fields'].json['bottleneck_count'] }}</td></tr>\n</table>\n<h3>Executive Digest</h3>\n<p>{{ $node['Get Pipeline Report'].json['digest'] }}</p>\n<h3>Bottlenecks</h3>\n<ul>\n{{ $node['Get Pipeline Report'].json['bottlenecks'].map(b => '<li>' + b + '</li>').join('') }}\n</ul>\n<p><em>Generated by Nexus-AI &middot; Run ID: {{ $node['Format KPI Fields'].json['run_id'] }}</em></p>",
        "options": {}
      },
      "id": "c3d4e5f6-0004-4004-8004-ccddee000004",
      "name": "Send Weekly Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "#sales-team",
        "text": "=📊 *Weekly Pipeline Report — {{ $now.format('MMMM D, YYYY') }}*\n\n• Conversion: {{ $node['Format KPI Fields'].json['conversion_display'] }}\n• Avg deal age: {{ $node['Format KPI Fields'].json['deal_age_display'] }}\n• Pipeline value: {{ $node['Format KPI Fields'].json['pipeline_display'] }}\n• Bottlenecks: {{ $node['Format KPI Fields'].json['bottleneck_count'] }}\n\n_{{ $node['Get Pipeline Report'].json['digest'].substring(0, 300) }}_",
        "otherOptions": {}
      },
      "id": "c3d4e5f6-0005-4005-8005-ccddee000005",
      "name": "Post Weekly Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Get Pipeline Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Pipeline Report": {
      "main": [
        [
          { "node": "Format KPI Fields", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format KPI Fields": {
      "main": [
        [
          { "node": "Send Weekly Digest", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Weekly Digest": {
      "main": [
        [
          { "node": "Post Weekly Summary", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}